body {
    background: url(../image/challengeBG.jpg);
    background-size: 100%
}

#state{
	background: #ffca1c;
	border: 2px solid #ac3208;
	border-radius: 5px;
	width: 60%;
	position: absolute;
	top:80%;
	left: 20%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}


#comment,#success,#fail{
	display: none;
}