body{
    background: url(../image/background.jpg)  no-repeat;
    background-size: 100%; 
}

#challengeSelf{
    position:absolute;
    background: url(../image/challengeSelfButton.png) no-repeat;
    background-size: 100%; 
    vertical-align:middle; 
    width:49%;
    height: 10%;
    left:23%;
    border-width: 0px;
    top:72%;
}

#challengeFriends{
    position:absolute;
    background: url(../image/challengeFriendsButton.png) no-repeat;
    background-size: 100%; 
    vertical-align:middle; 
    width:49%;
    left:23%;
    height: 10%;
    border-width: 0px;
    top:84%;
}

