body {
    background: url(../images/recordBG.jpg);
    background-size: 100%;
    font-size: 16px;
}

#outline{
	position: absolute;
    top:3%;
    left: 8%;
    width:84%;
    text-align:center;
}

#face{
	margin: 10px auto;
	border-radius: 100px;
	border: 2px solid #ffca1c;
	height: 50px;
	width: 50px;
    background-size: 100%;
}

.firstline{
	color: #b99212;
	font-size: 1em;
	margin-bottom: 0;
}

.secondline{
	color: #ffca1c;
	font-size: 1.6em;
}

#content{
	margin-bottom: 5%;
}

#back{
    background: url(../images/back.png)  no-repeat;
    background-size: 100%;
    height:30px;
    width: 98px;
    border: 0;
}

#like{
	position: absolute;
	background: url(../images/like.png)  no-repeat;
    background-size: 100%;
    width: 22%;
    left:8.6%;
    top:60%;
    height:16.5%;
    border: 0;
}

#unlike{
	position: absolute;
	background: url(../images/unlike.png)  no-repeat;
    background-size: 100%;
    width: 22%;
    right:8.6%;
    top:60%;
    height:16.5%;
    border: 0;
}

#resultBg1{
	position: absolute;
	background: url(../images/successBG.png)  no-repeat;
    background-size: 100%;
    display: none;
    z-index: 1000;
}

#resultBg2{
	position: absolute;
	background: url(../images/failBG.png)  no-repeat;
    background-size: 100%;
    display: none;
    z-index: 1000;
}

#ad{
    width: 100%;
    position: absolute;
    top:100%;
    background: #14CC74; 
    height:28px;  
}

a{
    font-weight: bold;
    color: white;
    float: left;
    margin: auto;
}

#logo{
    background: url(../images/logo.png)  no-repeat;
    background-size: 100%;
    margin-right: 20px;
    width: 75px;
    height:26.5px;
    float: left;
}

#comment{
    border-top: 1px solid #ffca1c;
    background-color:#c66402; 
    z-index:10000; 
    position:absolute; 
    top:83%;
    bottom: 100%;
    width:100%;
    height:17%;
    padding: 5%;
    font-size: 14px;
    color: white;
    overflow:scroll;
}

#commentList{
    margin-top:10px;
    padding: 0;

}

.singleComment{
    list-style-type: none;
    clear: both;
}

.smallFace{
    height: 35px;
    width: 35px;
    border-radius: 100px;
    border: 1px solid #ffca1c;
    background-size: 100%;
    margin-right:5%; 
    float: left;
}

.smallComment{
    height:35px;   
    line-height:35px; 
    overflow:hidden;     
    margin:auto 5% auto auto;
    float: left;
}

.reply{
    height:35px;   
    line-height:35px;   
    float: left;
}

#replyLine{
    background: black;
    position:absolute; 
    top:95%;
    bottom: 100%;
    width:100%;
    height:5%;
    z-index: 100000;
    padding: 5px;
    display: none;
}

#replyLine input{
    float: left;
    border-radius: 5px 0 0 5px;
    width:85%;
    margin-right:0;
    border: 0;
}

#replyBTN{
    width:15%;
    border: 0;
    float:left;
    margin-left: 0; 
    background: #ffca1c;
    border-radius: 0 5px 5px 0;
}

@media screen and (max-device-height: 480px){
    #like{
	position: absolute;
	background: url(../images/like.png)  no-repeat;
    background-size: 100%;
    width: 22%;
    left:8.6%;
    top:70%;
    height:19%;
    border: 0;
}

#unlike{
	position: absolute;
	background: url(../images/unlike.png)  no-repeat;
    background-size: 100%;
    width: 22%;
    right:8.6%;
    top:70%;
    height:19%;
    border: 0;
}


}
